h1 {
  font-family: sans-serif;
}
.circle {
  position:absolute;
  background-color:rgb(213, 225, 224);
  width:600px;
  height:600px;
  border-radius: 50%;
  left:10%;
  top:10%;
}
.point {
  position: absolute;
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.point:hover {
  background-color: red;
}
.center {
  position:absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  left: 295px;
  top: 295px;
}
.point:nth-child(1) {
  position: absolute;
  transform: translateY(-300px);
}
.point:nth-child(2) {
  position: absolute;
  transform: rotate(30deg) translateY(-300px);
}
.point:nth-child(3) {
  position: absolute;
  transform: rotate(60deg) translateY(-300px);
}
.point:nth-child(4) {
  position: absolute;
  transform: rotate(90deg) translateY(-300px);
}
.point:nth-child(5) {
  position: absolute;
  transform: rotate(120deg) translateY(-300px);
}
.point:nth-child(6) {
  position: absolute;
  transform: rotate(150deg) translateY(-300px);
}
.point:nth-child(7) {
  position: absolute;
  transform: rotate(180deg) translateY(-300px);
}
.point:nth-child(8) {
  position: absolute;
  transform: rotate(210deg) translateY(-300px);
}
.point:nth-child(9) {
  position: absolute;
  transform: rotate(240deg) translateY(-300px);
}
.point:nth-child(10) {
  position: absolute;
  transform: rotate(270deg) translateY(-300px);
}
.point:nth-child(11) {
  position: absolute;
  transform: rotate(300deg) translateY(-300px);
}
.point:nth-child(12) {
  position: absolute;
  transform: rotate(330deg) translateY(-300px);
}
